
<h1>Frotogo</h1>

<div id="map" data-latitude= <%= @store.latitude %> data-longitude= <%= @store.longitude %> >

</div>

  <h2 id="store_name"><%= @store.name %> </h2> <br />






  <h3><%= @store.display_phone %></h3>

  <img src="<%= @store.image_url %>"
  </br>
  <img src="<%= @store.rating_img_url %>">


 <!-- data-latitude="<%= @store.latitude %>" data-longitude="<%= @store.longitude %>">  -->
