
  <div><h1>Frotogo</h1></div>
  <br>
  <br>

  <div class="storedetail">
    <img src="<%= @store.image_url %>" id="storeimage">
    <h1><%= @store.name %></h1>
    <p><%= @store.location_address %>, <%= @store.location_city %></p>
    <p><%= @store.display_phone %></p>
    <p><small><img src="<%= @store.rating_img_url %>"> <%= @store.review_count %> reviews on Yelp</small></p>
    <p><a href = <%= @store.url %> >Website</a></p>

  </div>

  <div id="map" data-name = "<%= @store.name %>" data-latitude= <%= @store.latitude %> data-longitude= <%= @store.longitude %> data-location= <%= @store.location_address %> >

  </div>
