
<h1>Frotogo</h1>

<img src="http://maps.googleapis.com/maps/api/staticmap?center=43.684200000,-79.357000000&amp;zoom=15&amp;size=468x320&amp;maptype=roadmap&amp;key=<%=ENV['AIzaSyB0Ym_ZexOZYC3qENOj3pzdSchvXb5Ris4']%>" alt="Google map view of store location.">

</br>

  <h2><%= @store.name %> </h2> <br />
  <h3><%= @store.display_phone %></h3>

  <img src="<%= @store.image_url %>"
  </br>
  <img src="<%= @store.rating_img_url %>">
