
  <div class="store_container">

  <div class="store_title">
    <h1 id="store_name"><%= @store.name.titleize %></h1>
</div>
  <img src="<%= @store.image_url %>" id="store_image">
  <hr id="store_line" />

    <div class="store_details">

    <p id="address"> <%= @store.location_address %></p>

    <p><a href="tel:<%= @store.display_phone %>" id="phone">
      <% if @store.display_phone != nil %>
      <%= @store.display_phone[3..-1] %>
      <% else %>
      <% end %>
    </a></p>

    <p id="snippet_1"> Review Snippet: </p>
    <p id="snippet_2"> <%= @store.snippet_text %> </p>

    <a href="<%= @store.url %>" id="rating">Yelp Rating: <%= @store.rating %></p>
    <%= image_tag @store.rating_img_url, class: "rating_image" %>

    <a href="<%= @store.url %>" id="yelp_reviews" target="_blank"> <%= @store.review_count %> Reviews on Yelp </a>

  </div>

  <div id="map_show" data-name = "<%= @store.name %>" data-latitude= "<%= @store.latitude %>" data-longitude= "<%= @store.longitude %>" data-location= "<%= @store.location_address %>" >
  </div>

  </div>
