
<h1>Frotogo</h1>

<div id="map" data-name = "<%= @store.name %>" data-latitude= <%= @store.latitude %> data-longitude= <%= @store.longitude %> >

</div>

  <h2><%= @store.name %> </h2> <br/>

  <h3><%= @store.display_phone %></h3>

  <img src="<%= @store.image_url %>"
  </br>
  <img src="<%= @store.rating_img_url %>">
